<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ TITLE }}</title>

    @@include("seo.html")

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="@@URL/assets/vendors/aos/aos.css" />
    <link rel="stylesheet" href="@@URL/assets/vendors/xeicon/xeicon.min.css" />
    <link rel="stylesheet" href="@@URL/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="@@URL/assets/css/app.css" />
    <link rel="stylesheet" href="@@URL/assets/css/app.m.css" />
  </head>
  <body>
